@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;600&display=swap');
body{
  font-family: 'Exo', sans-serif !important;
}
a {
  text-decoration: none;
}
.container-fluid.Navbar-main {
  padding: 13px;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 10%);
}
button.btn.btn-custome {
  background-color: #60c494;
  color: white;
  font-weight: bold;
}
button.btn.btn-outcustome {
  border: 1px solid #60C494;
  color: #60C494;
  margin-left: 20px;
  font-weight: bold;
}
.table {
  padding: 0px;
}
.text-custome{
  color: #60C494;
  font-weight: bold;
  margin: 40px 0px;
  font-size: 24px;
}